#menu{
    background-color:rgba(34, 127, 248, 0.823);
    font-weight:600;
    border: -5px;
    width:300px;
}

.icono{
    background-color:rgba(138, 145, 151, 0.823);
    font-weight:600;
    border: -5px;
    width:300px;
    text-align: center;
}

#btn{
    width: 200px !important;
    margin-top: 20px;
}